.navbar-toggler, 
.navbar-toggler:active, 
.navbar-toggler:focus,
.navbar-toggler-icon:focus{
  outline: none;
  border: none;
}

.navbar {
  background-color: #000000;
  border-bottom:thin solid #5cb85c;
}

a:hover {
  color: blue;
}

