

.container {

  box-shadow: inset 6px -4px 150px 125px rgba(47,79,79,1);
  overflow: auto;
  display: block;
  padding: 10px;
  /* text-align: center; */
  margin: 250px 150px 0px 150px;
  width: 60%;
  border-radius: .4rem;
  border: darkgray thin solid;
}

.page-header {

  margin: 20px 0;
  border-bottom: 2px solid Darkgray;

}

.content img{
  border: solid 3px #000;
  border-radius: 50%;
  /* width: 80%; */
  margin-left: 20px;
  margin-right: 20px;
  float: left;
}

p {
  margin-left: 20px;
  color: darkgray;
  padding: 0;
}