body{
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  background-image: url("../src/img/mainBG4.jpg") ;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  /* background-size: 75%; */
  background-position: 50% 50%;

  background-color: black;

}